.container{
    max-width: 894px;
}
img{
     max-width: 100%;
}

body{
    background-color: #f3f1ff;
}

/* header */

.header .navbar-brand img {
    height: 41px;
}
a.navbar-brand {
    margin-right: 8px;
}
.container-fluid p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.header ul li {
    margin-left: 8px;
}

.header ul li a {
    color: #ffffff !important;
}

/* banner - top player */

.parant-of-player-and-blog, .latest-course {
    background: #ffffff;
    padding: 5% 3%;
    margin: 50px 0;
    border-radius: 10px;
}
.i-player img {
    width: 56px;
}

.i-player p {
    color: #000000;
    margin: 0;
    padding: 0 9px;
    font-weight: 500;
    font-size: 15px;
}

/* blog */
.i-blog .col-md-6.pr-0 {
    padding-left: 0;
}
.banner h3 , h3{
    color: #562eff;
}
.i-blog h4 {
    font-size: 21px;
}
.i-blog p {
    color: #562eff;
    font-size: 13px;
}
.i-blog small {
    color: #9f9f9f;
}

/* course */
.course .card {
    padding: 12px 12px;
    border: none;
    box-shadow: 0 0 20px rgba(211, 211, 211 ,.4);
    border-radius: 11px;
}
.card-body p{
    color: #ed6b4f;
}
.card-body, .card-footer {
    padding: 15px 0;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    border: none;
    background: none;
}
.card-footer img {
    height: 10px;
}
.card-f-r {
    background: #ffe4e8;
    padding: 0px 15px;
    border-radius: 14px;
}
.card-f-r img {
    height: 16px;
}
.card-f-r small {
    color: #ff4a60;
}
.card-footer small {
    font-size: 13px;
}

/* responsive */

@media (max-width:768px) {
    .course .card{
        width: 70%;
        margin: auto;
    }

    .course h3 ,h3{
        text-align: center;
    }
    .i-blog{
        width: 70%;
        margin: auto;
    }
    .col-md-6.pr-0{
        padding-left: 12px !important;
    }

}

@media (max-width:990px) {
    
}
